[submodule "firmware/lib/esp32-camera"]
	path = firmware/lib/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
	branch = master
[submodule "firmware/lib/mavlink"]
	path = firmware/lib/mavlink
	url = https://github.com/mavlink/mavlink.git
